.logo {
  display: inline-block;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: #fff !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
